* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}

body {
    background-image: url("Assets/1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a {
    text-decoration: none;
    color: black;
}

/* header */

nav {
    height: 15vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    opacity: 0.6;
}

.logo-container {
    width: 30%;
    text-align: center;
}

.nav-menu ul {
    width: 70%;
    display: flex;
    list-style: none;
    gap: 100px;
}

.header-info {
    color: white;
    height: 85vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-information {
    height: 30vh;
    width: 70vw;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-headings {
    padding: 10px;
}

/*section about us*/
.about-section_container {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section {
    text-align: center;
    width: 65vw;
}

.about-us,
.about-head,
.about-pera1,
.about-pera2,
.btn {
    margin: 50px auto;
}

.about-head h1 {
    font: 34px montserrat;
    font-weight: 900;
    color: rgb(1, 2, 28);
}

.about-pera1,
.about-pera2 {
    color: rgb(111, 113, 114);
    font-weight: 400;

}

.btn button {
    padding: 10px 50px 10px;
    background-color: rgb(47, 114, 231);
    border: none;
}

.information-headings button {

    padding: 10px 50px 10px;
    background-color: rgb(47, 114, 231);
    border: none;
    margin: 20px auto 5px;

}

button:hover {
    background-color: rgb(179, 179, 204);
}

/* my team */
.my-team {
    padding: 3rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-team_container {
    padding: 2rem;
    margin: 2rem;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.my-team_container p,
h2 {
    margin: 10px;
}

.my-team_container h2 {
    color: rgb(2, 2, 30);
}

.my-team_container span {
    color: rgb(77, 76, 74);
    margin-left: 8px;
}

.my-team_container p span {
    color: rgb(47, 114, 231);
}

.my-team_container button {
    padding: 5px 50px 5px;
    background-color: rgb(47, 114, 231);
    border: none;
}
.my-team_info{
    width:100%;
    text-align: center;
    padding: 30px;}

/* section our services */
.our-services {
    width: 100%;
    background-color: rgb(237, 227, 213);
    overflow: hidden;
}

.we-serve {
    text-align: center;
    padding: 30px;
}

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    width: 30%;
}

.container div {
    margin: 10px auto 10px;
}

.container h3 {
    color: rgb(1, 2, 28);
}

.container p {
    color: rgb(111, 113, 114);
}

.aerospace-container,
.oil-container,
.automotive-container {
    height: 65vh;
    width: 80vw;
    background-repeat: no-repeat;
    margin: auto;
}

/* footer */
.copyright-footer {
    height: 80px;
    background-color: rgb(47, 114, 231);
    color: rgb(222, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media queries */
/* @media only screen and(max-width:1250px) {
    .services {

        flex-direction: row;
        flex-wrap: wrap;
    }

    .container {
        width: 30%;
    }
} */

@media only screen and (max-width:480px) {
    .logo-container {
        width: 25%;
        font-size: 12px;
    }

    .nav-menu ul {
        font-size: smaller;
        width: 75%;
        gap: 20px;
    }

    .about-section_container {
        height: 120vh;
    }

    .services {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container {
        width: 97%;
        text-align: center;
    }

    .my-team_container {
        width: 90%;
        text-align:center;   
   }
}
